body {
    font-family: 'Prata', cursive;
    background-image: linear-gradient(to right top, #b4b5fa, #bfbef7, #cac7f3, #d3d0f0, #dcdaec, #dcdaec, #dcdaec, #dcdaec, #d3d0f0, #cac7f3, #bfbef7, #b4b5fa);
    list-style:none;
    margin:0;
}
body a , a:visited{
    text-decoration:none;
    color:#fff;
}
.container{
    margin:1em;
}
h1,h2,h3,h4{
    margin:0;
}
h2{
    text-align:center;
    font-size:1.8em;
}
/******************************Message alerte/confirmation suppression*********************************************/
.msgAlert{
    display:flex;
    justify-content:center;
}
.msgAlert h3{
    background-color:transparent;
    color:#fff;
    text-shadow:#ff2626 1px 0 8px;
}
/****************************header***************************************/
header {
    background-image: url("../images/dessert-fraise.jpg");
    background-size: cover;
    background-position: center;
    padding:1em;
    /*margin-bottom:2em;*/
}
.logo{
    display:flex;
    justify-content:space-around;
    margin-bottom:1em;
}
.logo img{
    width:20%;
    cursor:pointer;
}
.navbar {
    width: 100%;
    box-sizing: border-box; 
    z-index: 999; 
}
.navbar .nav-links ul {
    display: flex;
    justify-content:space-between;
    align-items:center;
    list-style: none; 
    margin: 0; 
    padding: 0; 
}
.navbar .nav-links ul li {
    font-size: 1.2em; 
    font-weight: bold;
    font-family: 'Coneria Script Demo', cursive;
}
.active-link{
    background-color:#00e5ff;
    padding:10px 20px 5px;
    color:#bc2ef4;
    border-radius:1.2em;
    transition:1s;
}
.logged-in {
    margin-left:0.5em;
    color: #fff;
    text-shadow: #00e24b 1px 0 10px;
}
.logged-out {
    margin-left:0.5em;
    color: #fff;
    text-shadow: #ff0000 1px 0 10px;
}
.navbar .nav-links ul li a{
    color:#fff;
    text-shadow: #001e62 1px 0 10px;
}
.navbar .nav-links ul li a:hover{
    background-color:#fff;
    padding:10px 20px 5px;
    color:#001e62;
    border-radius:1.2em;
    text-shadow: #fff 1px 0 10px;
    transition:1s;
}
.menu-burger {
    display: none;
    width: 30px;
    position: absolute; 
    right: 40px; 
    top: 30px; 
    cursor: pointer;
}   
.link-admin a{
    display:flex; 
    margin-top:0.5em;
    margin-left:0.4em;
    font-size:1em;
    padding:0.2em;
    position:absolute;
    z-index:100;
    background-color:#000000;
    border-radius:0.5em;
    text-shadow: #ff0000 1px 0 5px;
}
/**************************formulaire********************************/
input::placeholder {
    font-style: italic;
    color: #fff;
}
i{
    margin-right:0.5em;
}
.fa-user, .close-button, button{
    cursor:pointer;
}
.login {
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 40%;
  margin: 0.5em auto;
  box-shadow: 0 0 0.7em rgb(255, 255, 255);
  border-radius: 2em;
  display:none;
}
.close-button{
    color:#fff;
    font-size:1.3em;
    font-weight:bold;
    margin:0.5em;
}
.login h2 {
  font-size: 2em;
  color:#fff;
  padding:1em;
}
.login-form {
  padding: 0.5em;
  margin:auto;
  display: flex;
  flex-direction: column;
  width: 85%;
}
.form-item {
  display: flex;
  flex-direction:column;
  justify-content:center;
  width: 90%;
  margin: 0.5em auto;
  align-items: center;
}
.form-item label{
    color:#fff;
    font-size:1.2em;
    font-weight:bold;
    margin-bottom:0.5em;
}
.login input {
  border-radius: 1.5em;
  border: 1px solid #fff;
  background: transparent;
  width: 80%;
  height: 2em;
  outline: none;
  margin: auto;
  color: #fff;
  font-size: 1em;
  text-align:center;
}
.submit{
  width:60%;
  font-size: 1.2em;
  margin: 0.5em auto;
  padding: 0.4em;
  background: rgb(141,156,255);
  background: radial-gradient(circle, rgba(141,156,255,1) 0%, rgba(255,243,227,1) 100%);
  border-radius:0.5em;
  color: #000000;
  font-weight:bold;
}
.create-count{
    display:flex;
    align-items:center;
    justify-content:center;
    color:#fff;
}
.create-count a{
    margin-left:1em;
    color:#00e5ff;
    text-decoration: underline;
}
.form-item .input-file {
  display: inline-block;
  position: relative;
  overflow: hidden;
  cursor:pointer;
}
.input-file input[type=file] {
  left: 0;
  top: 0;
  opacity: 0;
  position: absolute;
  font-size: 90px;
}
.btn-upload {
  color:#fff;
  background-color:transparent;
  font-size:1.2em;
  font-weight: bold;
  border:1px solid #fff;
  border-radius:1em;
  width:80%;
  height:2em;
}
/*************************************formulaire de contact************************************************/
.contact{
    /*background-image: url("../images/coffee.jpg");*/
     background-image: linear-gradient(to right top, #000000, #050505, #0b0b0b, #0f0f0f, #131313, #131313, #131313, #131313, #0f0f0f, #0b0b0b, #050505, #000000);
    display:block;
}
input[type=number] {
    -moz-appearance: textfield;
}
 
/* Chrome */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button { 
	-webkit-appearance: none;
	margin:0;
}
 
/* Opéra*/
input::-o-inner-spin-button,
input::-o-outer-spin-button { 
	-o-appearance: none;
	margin:0
}
.fa-location-dot{
    color:#fff;
    margin-left:0.7em;
}
.contact textarea::placeholder{
    color:#fff;
    font-size:1.3em;
    font-weight:bold;
}
.contact textarea{
  background: transparent;
  width: 80%;
  height: 70px;
  outline: none;
  border: 1px solid #fff;
  border-radius:1em;
  margin: auto;
  color: #fff;
  font-size: 1em;
  padding:0.5em;
}
/******************************boutique******************************************/
.container_products{
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
}
.product{
    margin:0 0.5em 0;
    width:45%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    position:relative;
}
.product:hover{
    transition:1s;
    transform: scale(1.1);
    z-index:100;
}
.product-info{
    position:absolute;
    background-color:rgba(76,67,67,.9);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity:0;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.product-info:hover{
    opacity:0.7;
}
.product-info:after{
    content:"";
    position:absolute;
    top: 0;
    bottom:0;
    right:0;
    left:0;
    border: 4px solid #fff;
}
.product-info{
    color:#fff;
}
.product-img img{
    width:100%;
}
/*******************************admin area******************************************************/
.admin-area h2{
    background-color:#000000;
    color:#fff;
    display:inline-block;
    border-radius:0.5em;
    padding:0.2em 0.5em;
}
.admin-area{
    background-image: linear-gradient(to right top, #000000, #050505, #0b0b0b, #0f0f0f, #131313, #131313, #131313, #131313, #0f0f0f, #0b0b0b, #050505, #000000);
    padding:1em;
    margin:auto;
    text-align:center;
}
.admin-area ul{
    list-style:none;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    padding:0 0.5em 0;
}
.admin-area ul li{
    margin:0.5em 0;
}
.admin-area ul a{
    color:#d3d3d3;
    font-weight:bold;
    font-style:italic;
}
.admin-area ul a:hover{
    color:#ffad42;
    text-shadow: #fff 1px 0 1px;
}
.admin-area li{
    margin-top:1em;
    font-size:1.2em;
}
/********************************Products admin/actualites***********************************************/
.admin-global-product{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    background-image: linear-gradient(to right top, #000000, #050505, #0b0b0b, #0f0f0f, #131313, #131313, #131313, #131313, #0f0f0f, #0b0b0b, #050505, #000000);
}
.admin-product{
    display:flex;
    flex-wrap:wrap;
    width:30%;
    justify-content:center;
    padding:0.5em;
    border:solid 2px #fff;
}
.admin-manage{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}
.admin-manage img{
    width:150px;
    height:150px;
    border:solid 1px #fff;
    margin-right:0.8em;
    margin-bottom:0.8em;
}
.update-product{
    display:flex;
    align-items:flex-end;
}

.update-product p:hover, .update-product a:hover{
    color:#242428;
    background-color:#ba3232;
    transition:1s;
}
.update-product p, .update-product a{
    text-align:center;
    color:#ba3232;
    margin:0;
    padding:0.5em;
    border:solid 2px #dda8a8;
    cursor:pointer;
}
.admin-product-info{
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
}
.admin-product-info p{
    text-align:center;
    color:#fff;
}
/*****************************list contact********************************/
.global-contact{
    display:flex;
    position:relative;
    justify-content:center;
    flex-wrap:wrap;
    background-image: linear-gradient(to right top, #000000, #050505, #0b0b0b, #0f0f0f, #131313, #131313, #131313, #131313, #0f0f0f, #0b0b0b, #050505, #000000);
}
.contact-list p span{
    color:#a3a3a3;
    font-weight:bold;
    font-style:italic;
}
.contact-list{
    border:solid 2px #fff;
    color:#fff;
    width:47%;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    border-radius:0.5em;
    padding:0.8em;
}
.contact-name{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    width:100%;
}
.contact-address{
    display:flex;
    flex-wrap:wrap;
    justify-content:flex-start;
    width:100%;
}
.contact-address p:first-child, .contact-address p:nth-child(2){
    margin-right:0.5em;
}
.contact-tel{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    width:100%;
}
.contact-message{
    display:flex;
    width:100%;
    justify-content:center;
    text-align:center;
}
/*****************list admin**********************************/
.global-list-admin{
    background-image: linear-gradient(to right top, #000000, #050505, #0b0b0b, #0f0f0f, #131313, #131313, #131313, #131313, #0f0f0f, #0b0b0b, #050505, #000000);
    color:#fff;
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    padding:0.5em;
    text-align:center;
}
.admin-list p{
    margin:0;
}
.admin-list{
    border:solid 1px #fff;
    padding:0.5em;
}
.admin-list .update-product{
    margin-top:0.4em;
}
.admin-name{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    margin:0.4em;
}
/****************confirm delete modal*************************/
.confirm-delete{
    background-image: linear-gradient(to right top, #000000, #050505, #0b0b0b, #0f0f0f, #131313, #131313, #131313, #131313, #0f0f0f, #0b0b0b, #050505, #000000);
    color:#fff;
    position: fixed;
    font-size:1.2em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius:0.5em;
    padding:0.5em;
    border:solid 1px #fff;
    box-shadow:10px 5px 5px red;
    
}
.confirm-delete .update-product{
    display:flex;
    justify-content:space-around;
}
/******************************carousel******************************************/
.swiper{
    background-color:black;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  /*width: 350px;*/
  /*height: 450px;*/
  padding:1.2em 0 1.7em
}
.swiper-slide img {
  display: block;
  box-shadow: 8px 0px 8px -2px white,
  -8px 0px 8px -2px white;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-container {
  width: 70%;
  position: absolute;
  left: 50%;
  bottom: -16vw;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 2;
  padding-bottom: 3vw;
}

.swiper-pagination-fraction {
  bottom: 0;
}

.swiper .swiper-pagination-bullet {
  width: 25px;
  height: 5px;
  border-radius: 5px;
  background-color:white;
}
/******************************FOOTER****************************************************/
footer{
    padding:0.5em;
    background-image: url("../images/cookies.jpg");
    background-size: cover;
    background-position:center;
    display:flex;
    justify-content:space-around;
    align-items:center;
    color:#fff;
    text-shadow: #001e62 1px 0 10px;
    /*margin-top:2em;*/
}
.foot{
    backdrop-filter: blur(5px);
	  background-color: rgba(255, 255, 255, 0.2);
	  border-radius:1em;
	  padding:1em;
	  font-size:0.7em;
	  margin:0.2em;
}
.foot h3{
    text-align:center;
}
.foot h3{
    color:#6791fc;
    font-weight:bold;
}
.first-word{
    color:#aabdff;
    font-weight:bold;
}
.networks{
    display:flex;
    justify-content:space-around;
    margin-top:0.5em;
}
.fa-brands{
    font-size:2em;color:#fff;
}
.fa-facebook-f{
    text-shadow:blue;
    color:blue;
}
.fa-instagram{
    text-shadow:#ff008c;
    color:#ff008c;
}
@media screen and (max-width:950px){
.navbar {
    padding: 0;
    
}
.menu-burger {
display: block;
z-index:99;
}
.nav-links {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; 
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-left: -100%; 
    transition: all 0.5s ease;
    background-image: url("../images/testmenu.jpg");
    background-size: cover;
    background-position:center;
    z-index:99;
}
.mobile-menu {
    margin-left: 0;
    z-index:99;
}
.nav-links ul {
    flex-direction: column; 
    align-items: center; 
}
.nav-links ul li {
    margin: 25px 0; 
    font-size: 1.2em;
}
.navbar .nav-links ul li a{
    color:#fff;
    text-shadow: #001e62 1px 0 10px;
}
.logo{
    margin:0;
}
.logo img{
    width:40%;
}
.market {
    display:none;
}
/******************admin products/actualite*********************/
.admin-product{
    width:45%;
}

/*****************login************************/
.login{
    width:90%;
}
#login{
    font-size:0.8em;
}
}
@media screen and (max-width:620px){
   /******************admin products/actualite*********************/
.contact-list{
    width:100%;
}
.admin-product{
    width:100%;
}
.logo {
    margin-top:2.2em;
}
}